html
html
   head
      title Form Login
   body
      form(action = "/login", method = "GET")
         div
            label(for = "username") Username:
            input(name = "username" value = "..enter username")
         br
         div
            label(for = "password") Password:
            input(name = "password" type="password" value = "")
         br
         button(type = "submit") Login